.header__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__nav__lista {
    display: flex;
    /*align-items: center;*/
    /*justify-content: flex-start;*/
    list-style: none;
    padding: 0;
}

.header__nav__lista__menu-secundario {
    display: none;
}

nav li:hover > ul.dropmenu li{
    display: flex;
    /*flex: 1;*/
}

nav li:hover > ul.dropmenu li:first-child{
    margin-top: 20px;
}

nav li > ul.dropmenu{
    position: absolute;
    display: flex;
    flex-direction: column;
}

nav a{
    text-decoration: none;
    padding: 15px;
    background-color: #645E9D;
    margin: 2px;
    color: #FFF;
    border: #2D0320 2px outset;
}

nav a:hover{
    background-color: #FFF;
    color: #645E9D;
    border: #2D0320 2px inset;
}