@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url(/estilos/nav.css);
@import url(/estilos/banner.css);
@import url(/estilos/carrossel.css);
@import url(/estilos/pos-carrossel.css);
@import url(/estilos/pos-carrossel-desk.css);
@import url(/estilos/voip.css);
@import url(/estilos/voip-desk.css);
@import url(/estilos/canal-de-vendas.css);
@import url(/estilos/speedtest.css);
@import url(/estilos/bureau-tech.css);
@import url(/estilos/suporte.css);
@import url(/estilos/redes.css);
@import url(/estilos/footer.css);








:root {
    --cor-primaria: #124A9F;
    --cor-secundaria: #3BD8FF;
    --cor-azulclaro: #c5f4ff;
    --cor-branco: white;
    --cor-botao: #01255A;
    --cor-whatsapp: #2AB640;
    --cor-cinza: #828282;
    --cor-preto: #000000;
    --degrade-azul-claro: linear-gradient(0deg, rgba(255,255,255,1) 100%, rgba(1,212,255,0.2) 100%);

    --fonte-principal: 'Inter', sans-serif;
}

*{
    font-family: var(--fonte-principal);
    text-decoration: none;
    fill: var(--cor-branco);
}
