.imagem-home {
   width: 100vw;
   margin-top: -1px;
}

.imagem-home-tablet {
   display: none;
}

.banner {
   margin-top: -4px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 30px;
   padding: 35px 25px;
   background-color: var(--cor-primaria);
   color: white;
}

.banner__caixa-alta {
   font-size: 0.7rem;
   font-weight: 400;
   display: inline;
}

.banner > h2 > img {
   display: inline;
   width: 12px;
}

.banner__titulo {
   font-size: 1.6rem;
   font-weight: 400;
}

.banner__titulo > strong {
   color: var(--cor-secundaria);
   font-weight: 500;
}

.banner__texto {
   font-size: 0.9rem;
   font-weight: 300;
   line-height: 20px;
}

.banner__link {
   color: var(--cor-branco);
   background-color: var(--cor-botao);
   padding: 12px;
   border-radius: 5px;
   text-align: center;
   font-weight: 400;
   font-size: 0.9rem;
}


@media screen and (min-width: 800px) {

   .imagem-home {
      display: none;
   }

   .imagem-home-tablet {
      display: block;
      background-image: url(../imagens/imagem-home-tablet.png);
      background-size: cover;
      margin-top: -75px;
      height: 250px;
   }

   .banner {
      padding: 5% 12%;
      display: block;
   }

   .banner__titulo { 
      margin: 10px 0 1.4em;
      width: 40%;
      line-height: 1.2em;
   }

   .banner__botao {
      position: relative;
      text-align: right;
      top: -130px
   }

   .banner__link {
      padding: 30px;
   }

}