.foto-pcs {
   display: none;
}

@media screen and (min-width: 800px) {

   .foto-pcs {
      display: block;   
   }
   
   .foto-pcs img {
      width: 100%;
      height: auto;
   }
}

@media screen and (min-width: 1400px)  {

   .foto-pcs {
      display: none;
   }
   
}
