@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --cor-primaria: #124A9F;
    --cor-secundaria: #3BD8FF;
    --cor-azulclaro: #c5f4ff;
    --cor-branco: white;
    --cor-botao: #01255A;
    --cor-whatsapp: #2AB640;

    --fonte-principal: 'Inter', sans-serif;
}

* {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}


/**********************/
/*------HEADER--------*/
/**********************/


header {
    display: flex;
    padding: 25px;
    background-color: #124A9F;
    flex-direction: column;
    gap: 25px;
}

.logo {
    height: 70px;
    margin: auto;
}

.material-symbols-outlined {
    color: white;
    padding-bottom: 10px;
}

i#burguer > span {
    display: block;
    text-align: center;
    cursor: pointer;
}

i#burguer:hover {
    color: var(--cor-secundaria);
    font-weight: bold;
}

#imenu {
    text-align: center;
    display: none;
    background-color: #00ccff19;
    border-radius: 10px;
}

.navegacao {
    list-style-type: none ;
    padding: 5px;
}

.navegacao > li {
    padding: 5px;
}

.menu-primario {
    color: var(--cor-branco);
    text-decoration: none;
}

hr {
    background-color: var(--cor-secundaria);
    color: var(--cor-secundaria);
    margin: auto;
    width: 80%;
}

.menu-secundario {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: 600;
}

nav > a:active, a:hover {
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    transform: 0.5s;
}


/**********************/
/*------PARTE 1-------*/ /*Projetos Referência/*
/**********************/

.imagem-home {
    width: 100vw;
}

.parte1 {
    margin-top: -4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 25px;
    background-color: var(--cor-primaria);
    color: white;
}

.parte1__caixa-alta {
    font-size: 0.7rem;
    font-weight: 400;
    display: inline;
}

.parte1 > h2 > img {
    display: inline;
    width: 12px;
}

.parte1__titulo {
    font-size: 1.3rem;
    font-weight: 400;
}

.parte1__titulo > strong {
    color: var(--cor-secundaria);
    font-weight: 500;
}

.parte1__texto {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 20px;
}

.parte1__botao {
    color: var(--cor-branco);
    background-color: var(--cor-botao);
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 0.7rem;
}


/**********************/
/*------PARTE 2-------*/ /* carrossel/*
/**********************/

 .container-slider {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 330px;
}

.slider {
    opacity: 0;
    transition: ease-in-out .2s;
    position: absolute;
    width: 90%;
    max-width: 292px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.367);
}

.on {
    opacity: 1;
}

#prev-button, #next-button {
    width: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#next-button {
    transform: rotate(180deg);
}

.parte2 {
    background: linear-gradient(0deg, rgba(255,255,255,1) 56%, rgba(1,212,255,0.20030120481927716) 100%);
}

.parte2__texto {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.parte2__texto__titulo {
    color: var(--cor-botao);
    font-size: 1.6rem;
}

.parte2__texto__titulo > strong {
    color: var(--cor-primaria);
}

.parte2__texto__texto {
    color: var(--cor-botao);
    line-height: 20px;
    margin-bottom: 2rem;
}

.parte2__serviços__link-dedicado {
    background-color: var(--cor-azulclaro);
    width: 85vw;
    height: 290px;
    margin: auto;
    border-radius: 10px;
}






footer {
    background-color: white;
    height: 100px;
}