.banner-img {
    height: 285px;
    width: 100vw;
    background-image: url(../img/mobile/home-mobile-minutos-telecom.webp);
}

.banner-txt {
    padding: 40px 30px 20px 30px;
    background-color: var(--cor-azul-bg);
    color: var(--cor-branco);
    line-height: 25px;
}

.flex-chamada-antena {
    display: flex;
    align-items: baseline;
}

.banner-txt__icon {
    height: 20px;
    margin-left: 10px;
}

.banner-txt__chamada {
    font-size: 13px;
}

.banner-txt__title {
    margin: 20px 0;
    font-size: 25px;
    width: 80%;
    line-height: 32px;
}

.banner-txt__title strong {
    color: var(--cor-azul-agua);
    font-weight: 600;
}

.banner-txt__texto {
    margin-bottom: 40px;
}

.banner-txt__btn {
    margin-bottom: 20px;
}

.header__description__botao-link {
    width: auto;
    padding: 20px;
    background-color: var(--cor-azul-marinho);
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}



@media screen and (min-width: 480px) {

    .banner-img {
        background-image: url(../img/mobile/home-tablet-minutos-telecom.webp);
    }

} 