.central-vendas__img {
    width: 100vw;
    height: 330px;
    background-image: url(../img/mobile/canal-de-vendas-mobile-minutos-telecom.webp);
    background-size: cover;
}

.central-vendas__contato {
    width: 100vw;
    height: 330px;
    background-image: url(../img/mobile/canal-de-vendas-bg-mobile-minutos-telecom.png);
    background-size: cover;
    color: var(--cor-branco);
    text-align: center;
}

.central-vendas__contato__titulo {
    font-size: 25px;
    font-weight: 600;
    padding: 60px 30px 30px 30px;
}

.central-vendas__contato__texto {
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    padding: 0 30px 60px 30px;
}

.central-vendas__contato__texto strong {
    color: var(--cor-azul-agua);
    font-weight: 500;
}

.central-vendas__contato__btn {
    background-color: aqua;
    color: var(--cor-azul-marinho);
    font-size: 20px;
    font-weight: 800;
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
}


@media (min-width: 480px) {

    .central-vendas-container {
        display: flex;
    }

    .central-vendas__img {
        width: 100vw;
        height: 614px;
        background-image: url(../img/tablet/canal-de-vendas-tablet-minutos-telecom.webp);
        background-size: cover;
    }

    .central-vendas__contato {
        position: relative;
        width: 50vw;
        height: 614px;
        left: -50vw;
        background-image: none;
        background-color: rgba(0, 15, 31, 0.85) ;
        text-align: left;
    }

}


/* 

.central-vendas-container {
    display: flex;
}

.central-vendas__img {
    width: 100vw;
    height: 614px;
    background-image: url(../img/tablet/canal-de-vendas-tablet-minutos-telecom.webp);
    background-size: cover;
}

.central-vendas__contato {
    height: 300px;
    background-image: none;
    background-color: rgba(0, 15, 31, 0.85) ;
    text-align: left;
} 

*/



/* 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            position: relative;
            width: 100%;
            height: 100vh;
            background: url('assets/img/tablet/canal-de-vendas-tablet-minutos-telecom.webp') no-repeat center center;
            background-size: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.85);
             Fundo preto com 85% de opacidade 
        }

        .content {
            position: relative;
            color: white;
            padding: 20px;
            text-align: left;
            z-index: 1;
        }

        .highlight {
            color: #00bfff;
             Azul destacado 
        }

        button {
            background-color: #00bfff;
            color: #000;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="overlay"></div>
        <div class="content">
            <h2>Canal de Vendas</h2>
            <p>Precisa de mais <span class="highlight">informações</span>, tirar <span class="highlight">dúvidas</span>
                ou contratar nossos <span class="highlight">serviços</span>?</p>
            <button>(19) 3081.0000</button>
        </div>
    </div>

</body>

</html> */
