@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* HOME */
@import url(header.css);
@import url(home/banner.css);
@import url(home/slider.css);
@import url(home/articles.css);
@import url(home/central-vendas.css);
@import url(footer.css);


:root {
    --cor-azul-bg: #124A9F;
    --cor-azul-agua: #3BD8FF;
    --cor-azul-claro-bg: #c5f4ff;
    --cor-branco: white;
    --cor-azul-marinho: #01255A;
    --cor-azul-marinho-hover: #02122b;
    --cor-whatsapp: #2AB640;
    --cor-cinza: #828282;
    --cor-preto: #000000;
    --degrade-azul-claro: linear-gradient(0deg, rgba(255, 255, 255, 1) 100%, rgba(1, 212, 255, 0.2) 100%);
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    --fonte-principal: 'Inter', sans-serif;
}

* {
    font-family: var(--fonte-principal);
    text-decoration: none;
}

a {
    color: white;
}

/*

TEM QUE FAZER: 

- click do botão tablet
- add META description e title
- alinhar a página contratos no meio
- a pagina de estilos style2 é uma burrice, não?

- iPad Mini





GABRIEL:

Planos residenciais:
- Ao clicar nos planos, direcionar ao WhatsApp da vendedora: 5519984433283 (Enviar uma mensagem para cada plano: "Olá, estou interessado(a) no plano de 300 (ou) 500 mega")
- Ao clicar em assine já, direcionar ao WhatsApp da vendedora: 19 98443 3283 (Enviar uma mensagem para cada plano: "Olá, estou interessado(a) no serviço de internet")
Corporativo, fazer o mesmo acima.

Já nos botões para entrar em contato pelo 551930810000, transferir para o WhatsApp desse número mesmo.
Na área do cliente:
- Ver se será possível vincular o login ao nosso sistema e já abrir a página em uma nova janela (após fazer login)
- suporte eu acho que pode remover ou encaminhar para o WhatsApp da Minutos: 19 3081-0000


*/